<h1>Burgers!</h1>

<h2>Uneaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{burger_name}}<button class="update-button btn btn-sm btn-primary">Update</button><button class="delete-button btn btn-sm btn-primary">Delete</button></li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{burger_name}}<button class="update-button btn btn-sm btn-primary">Update</button><button class="delete-button btn btn-sm btn-primary">Delete</button></li>
    {{/if}}
  {{/each}}
</ul>

{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">
		Delete
	</button>
</li> --}}


<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger name:</label>
    <input type="text" id="burger" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Uneaten<br>
    <input type="radio" name="devoured" value="0"> Eaten
  </div> --}}

  <button class="btn btn-sm btn-primary" type="submit">Add burger</button>
</form>